/* app.css */

/* Estilizando o corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Estilizando o contêiner do jogo */
.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  margin-right: 20px;
}

.game-info {
  margin-left: 20px;
}

/* Estilizando o status do jogo */
.status {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Estilizando o botão do quadrado */
.square {
  background: #fff;
  border: 2px solid #999;
  font-size: 36px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease;
}

.square:hover {
  background-color: #ddd;
}

/* Estilizando a linha do tabuleiro */
.board-row {
  display: flex;
}

button:disabled {
  background-color: #f9f9f9;
  cursor: not-allowed;
}

/* Estilizando o histórico de jogadas */
.game-info ol {
  padding-left: 30px;
}

.game-info li {
  margin-bottom: 5px;
}

.game-info button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.game-info button:hover {
  background-color: #0056b3;
}

.game-info button:focus {
  outline: none;
}
